<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-dark">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="logout()">Cerrar sesion</a>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <div class="sidebar">
            <a href="#" class="brand-link">
                <span class="brand-text font-weight-light">Burrito Lector</span>
            </a>

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    @if(rolUsuario == 'admin') {
                        <img class="img-circle" src="../assets/images/AdminLTELogo.png" alt="img">
                    }
                    @else {
                        <img class="img-circle" src="../assets/images/avatar-fallback.jpg" alt="img">
                    }
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ nombreUsuario }}</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">

                    <li class="nav-header">MENÚ PRINCIPAL</li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>Galería de libros</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-star"></i>
                            <p>Mis reseñas</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Afinidad</p>
                        </a>
                    </li>

                    @if (rolUsuario == 'admin') {
                        <li class="nav-header">ADMINISTRACIÓN</li>

                        <li class="nav-item">
                            <a routerLink="/dashboard/estadisticas" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>Estadísticas</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/dashboard/gestion" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>Gestión de libros</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/dashboard/agregar" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>Agregar libros</p>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </aside>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <span><strong>Developed by:</strong><br>Osvaldo Hernandez Mendoza<br>Carlos Eduardo del Hoyo Hernandez<br>Carlos Patricio Rodarte Navarro<br>Camila de los Angeles Castillo Gomez</span>
    </footer>
</div>
